:root {
  --main-width: 90%;
  --min-width: 450px;
  --max-width: 650px;
  --yList: lightgreen;
  --yList2: #bdf5bd;
  --yList2Lighter: #d3f8d3;
  --nList: #ff9999;
  --nList2: #ffcccc;
  --off-white: #fbfbfb;
  --y-hover: chartreuse;
  --n-hover: #e60000;
  --menu-yellow: #ffff4d;
  --yList-darker: #59b300;
  --nList-darker: #990000;
  --yList-shadow: #408000;
  --nList-shadow: #660000;
  --alpha: rgb(155, 155, 155);
  --betta: rgb(110, 110, 110);
  --B-trunk: rgb(80, 80, 80);
  --B-trunk-darker: rgb(146, 146, 146);

  --B-eggshell: rgb(243, 255, 225);
  --B-eggshell-depressed: rgb(211, 255, 144);

  /* --B-eggshell: rgb(220, 249, 255);
  --B-eggshell-depressed: rgb(174, 241, 255); */
  --trunk-height: 3px;
  --trunk-height-depressed: 1.5px;
  --trunk-height-minus-depressed: 1.5px;
}

.App {
  text-align: center;
  height: 100%;
}

.logoHolder {
  z-index: 5;
  position: fixed;
  align-self: center;
  justify-self: center;
  width: 40%;
  height: 17.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.logo {
  display: block;
  width: auto;
  height: 100%;
  z-index: 5;
  position: absolute;
  align-self: center;
  justify-self: center;
  opacity: 0.035;
}

.grossuberbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  z-index: 0;
}

.background {
  background-image: url(../images/tile-apple.png);
  background-size: 250px;
  /* background-image: url(../images/tile-starsBW.png); */
  /* background-size: 500px; */
  background-repeat: repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.backgroundShroud {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 255, 224, 0.9);
  z-index: -1;
}

.invisibleTextarea {
  z-index: -1;
  width: 0px;
  height: 0px;
  align-self: center;
  justify-self: center;
  position: fixed;
  top: 46%;
}

.uberbox {
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 10px black;
  overflow: hidden;
  width: var(--main-width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  align-self: center;
  height: 80%;
  border: grey solid 1.5pt;
  background-color: var(--off-white);
}

.bigwordbox {
  background-color: var(--off-white);
  height: 32.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bigtextbox {
  padding: 0px 5% 0px 5%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow: auto;
}

.bigText {
  font-size: 8.35vh;
  margin: 0;
  margin-top: -29px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow: auto;
}

.buttonbox {
  height: 10%;
  position: relative;
}

.button {
  height: 100%;
  width: 50%;
  font-size: 24px;
  position: relative;
  border-radius: 5px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.listContainer {
  height: 58%;
  display: flex;
  flex-direction: row;
}

.list {
  padding: 5px 5px 0px 5px;
  width: 50%;
  text-align: center;
  font-size: 19px;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow: auto;
}

.yList {
  background-color: var(--yList);
  border-right: rgba(0, 0, 0, 0.3) solid 0.5pt;
}

.nList {
  background-color: var(--nList);
  border-left: rgba(0, 0, 0, 0.3) solid 0.5pt;
}

.wordinlist {
  margin: 5px auto 5px auto;
}

.nList .wordinlist:hover {
  color: var(--y-hover);
  cursor: w-resize;
}

.yList .wordinlist:hover {
  color: var(--n-hover);
  cursor: e-resize;
}

.littleButton:hover {
  cursor: pointer;
}

.nListButton {
  background-color: var(--nList2);
}

.uButton {
  z-index: 2;
}

.littleButtonsContainer {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 10px;
  width: var(--main-width);
  max-width: var(--max-width);
  align-self: center;
}

.configButton {
  background-color: white;
}

.tinyButtonHolder {
  margin: 0;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 2.5px;
}

.tinyButtonHolderInner {
  margin: 0;
  /* width: 40%; */
}

.iconButton {
  margin: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #777777;
  border: none;
}

.iconButtonHelp {
  font-size: 16px;
  margin-left: 2.5px;
  position: relative;
  top: -2.5px;
}

.iconButtonGear {
  font-size: 20px;
  margin-right: 2.5px;
}

.tinyButton {
  height: 100%;
  width: 90px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #777777;
  border: none;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: -3px;
  font-size: 14px;
}

.counter {
  margin: 0;
  margin-top: 9px;
  color: #777777;
  font-size: 13px;
  position: relative;
  top: -3px;
}

.obscurus {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  position: fixed;
}

.configMenuHolder {
  background-color: darkorchid;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  position: fixed;
}

.littleHalfButton {
  height: 50%;
  width: 100px;
  font-size: 13.5px;
  border: none;
}

.copyAndDLButtonsHolder {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.topslice {
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 5px black;
  z-index: 0;
}

.bottomslice {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1.5px 5px black;
  border-top: none;
  z-index: 0;
}

.textInsideButton {
  margin: 0px;
  padding: 0px;
}

@keyframes shimmerY {
  0% {
    background-color: var(--yList);
  }
  30% {
    background-color: var(--yList2Lighter);
  }
  100% {
    background-color: var(--yList);
  }
}

.flashingY {
  animation-name: shimmerY;
  animation-duration: 1.5s;
}

@keyframes shimmerN {
  0% {
    background-color: var(--nList);
  }
  30% {
    background-color: var(--nList2);
  }
  100% {
    background-color: var(--nList);
  }
}

.flashingN {
  animation-name: shimmerN;
  animation-duration: 1.5s;
}

.littleButton {
  z-index: 0;
  display: inline-block;
  height: 100%;
  width: 100px;
  border-radius: 10px;
  font-size: 17px;
}

.fancyButton {
  border: 1.5px solid var(--B-trunk-darker);
  background-color: var(--B-eggshell);
  -webkit-box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -moz-box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.fancyButton:active,
.fancyButton_active {
  background-color: var(--B-eggshell-depressed);
  -webkit-box-shadow: 0px 2px 0px var(--B-trunk), 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px var(--B-trunk), 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px var(--trunk-height-depressed) 0px var(--B-trunk),
    0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -webkit-transform: translate(0, var(--trunk-height-minus-depressed));
  -moz-transform: translate(0, var(--trunk-height-minus-depressed));
  transform: translate(0, var(--trunk-height-minus-depressed));
  -webkit-transition: all 0.025s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.yListButton {
  background-color: var(--yList2);
}

.nListButton {
  background-color: var(--nList2);
}

.yListButton:active {
  background-color: var(--yList);
}

.nListButton:active {
  background-color: var(--nList);
}

.yButton {
  z-index: 2;
  /* box-shadow: 0px 2px 3px var(--yList-shadow); */
  border: var(--yList-darker) solid 1pt;
  border-top: var(--yList-darker) solid 2pt;
  background-color: var(--y-hover);
  -webkit-box-shadow: 0px var(--trunk-height) 0px var(--yList-shadow),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -moz-box-shadow: 0px var(--trunk-height) 0px var(--yList-shadow),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  box-shadow: 0px var(--trunk-height) 0px var(--yList-shadow),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.yButton:active,
.yButton_active {
  background-color: var(--yList-darker);
}

.nButton {
  z-index: 2;
  /* box-shadow: 0px 2px 3px var(--nList-shadow); */
  border: var(--nList-darker) solid 1pt;
  border-top: var(--nList-darker) solid 2pt;
  background-color: var(--n-hover);

  -webkit-box-shadow: 0px var(--trunk-height) 0px var(--nList-shadow),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -moz-box-shadow: 0px var(--trunk-height) 0px var(--nList-shadow),
    0px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  box-shadow: 0px var(--trunk-height) 0px var(--nList-shadow),
    2px 3px 10px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.nButton:active,
.nButton_active {
  background-color: var(--nList-darker);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  :root {
    --main-width: 90%;
    --min-width: 0px;
    --max-width: 650px;
  }

  .tinyButtonHolder {
    height: 30%;
    margin: 0px;
    padding: 0px;
  }

  .tinyButton {
    width: 70px;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
  }

  .counter {
    font-size: 11px;
    /* width: 20%; */
  }

  .uberbox {
    position: relative;
    top: 5px;
  }

  .littleHalfButton {
    width: 70px;
    font-size: 11px;
  }

  .littleButton {
    width: 70px;
    /* font-size: 11px; */
  }

  .copyAndDLButtonsHolder {
    width: 70px;
  }

  .list {
    font-size: 100%;
    padding-top: 0px;
  }

  .listContainer {
    height: 68%;
    position: relative;
    top: -10%;
    border-top: rgba(0, 0, 0, 0.4) solid 1pt;
  }

  :root {
    --trunk-height: 2px;
    --trunk-height-depressed: 1px;
    --trunk-height-minus-depressed: 1px;
  }

  .nList .wordinlist:hover {
    color: inherit;
  }

  .yList .wordinlist:hover {
    color: inherit;
  }

  .fancyButton {
    -webkit-box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
      0px 3px 2.5px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 255, 0.3),
      inset 0px 0px 3px rgba(255, 255, 255, 0.5);

    -moz-box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
      0px 3px 2.5px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 255, 0.3),
      inset 0px 0px 3px rgba(255, 255, 255, 0.5);

    box-shadow: 0px var(--trunk-height) 0px var(--B-trunk),
      0px 3px 2.5px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 255, 0.3),
      inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  }
}
