.one {
  /* background-color: blue; */
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.textarea {
  box-sizing: border-box;
  padding: 20px;
  opacity: 1;
  height: 320px;
  width: 420px;
  position: fixed;
  align-self: center;
  top: 260px;
  z-index: 2;
  background-color: lightcyan;
  border-radius: 10pt;
}

.uploadX {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  z-index: 3;
  margin-right: -387.5px;
  margin-top: -327.5px;
}
