.one {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.textareaHolder {
  top: 260px;
  box-sizing: border-box;
  opacity: 1;
  height: 320px;
  width: 480px;
  position: fixed;
  align-self: center;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textarea {
  resize: none;
  margin-left: 29px;
  padding: 20px;
  background-color: lightcyan;
  border-radius: 10pt;
  height: 80%;
  width: 79%;
}

.uploadX {
  position: relative;
  left: -30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  z-index: 3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .textareaHolder {
    width: 100%;
  }
}
