.superConfigOptionsHolder {
  opacity: 1;
  height: 160px;
  width: 420px;
  position: fixed;
  align-self: center;
  top: 55px;
  z-index: 2;
  background-color: var(--menu-yellow);
  box-shadow: 0px 0px 4.5px yellow;
  border-radius: 10pt;
  display: flex;
  flex-direction: row;
}

.configOptionsHolder {
  position: relative;
  height: 95%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.configTextHolder {
  font-size: 13.5pt;
  align-self: center;
  width: 85%;
  line-height: 30px;
  text-align: center;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0px;
  box-sizing: border-box;
  padding: 0px 10px;
}

.clippy {
  display: block;
  max-width: 12.5%;
  font-size: 14px;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
}

.configText {
  margin: 0;
}

.configOK {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  align-self: center;
  background-color: white;
}

.OKmargin {
  margin-top: 20px;
}

.OKnomargin {
  margin-top: 10px;
}

.configX {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  left: 0px;
}

.configMenuHolder {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}
