.uploadMenuHolder {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 62.5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -5px;
}

.superUploadOptionsHolder {
  opacity: 1;
  height: 160px;
  min-height: 160px;
  width: 420px;
  position: relative;
  align-self: center;
  z-index: 2;
  background-color: var(--menu-yellow);
  box-shadow: 0px 0px 4.5px yellow;
  border-radius: 10pt;
  display: flex;
  flex-direction: row;
}

.uploadOptionsHolder {
  height: 95%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.uploadTextHolder {
  margin: 2.5% 0% 2.5% 2.5%;
  font-size: 15.5pt;
  align-self: center;
  width: 90%;
  position: relative;
  line-height: 30px;
  text-align: center;
  height: 95%;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.uploadText {
  margin: 0;
}

.clippy {
  height: 80%;
  margin: 5%;
  margin-left: 7%;
  margin-right: 2%;
}

.uploadOK {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  align-self: center;
  background-color: white;
}

.OKmargin {
  margin-top: 20px;
}

.OKnomargin {
  margin-top: 2.5px;
}

.uploadX {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  left: 0px;
}

.uploadX2 {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  left: -2.5px;
  bottom: 8px;
}

.uploadButton {
  height: 60px;
  width: 140px;
  border-radius: 10px;
  font-size: 16px;
  align-self: center;
  background-color: white;
}

.littleUploadButton {
  margin: 0;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 70px;
  margin-top: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.separatorText {
  margin: 0;
  margin-top: 5px;
}

.separatorLabel {
  margin: 0;
  color: blue;
}

.sep1 {
  top: 15px;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sep2 {
  opacity: 1;
  height: 170px;
  width: 295px;
  position: relative;
  z-index: 2;
  background-color: whitesmoke;
  border-radius: 10pt;
  display: flex;
  flex-direction: row;
}

.sep3 {
  height: 95%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sep4 {
  margin: 2.5% 0% 2.5% 2.5%;
  font-size: 15.5pt;
  align-self: center;
  width: 95%;
  position: relative;
  line-height: 30px;
  text-align: center;
  height: 95%;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sepLeft {
  display: flex;
  flex-direction: column;
}

.sepRight {
  width: 100%;
  font-size: 15px;
  line-height: 19px;
  margin: 0;
  margin-left: 15px;
  position: relative;
  top: 7.5px;
}

.littleUploadButton2 {
  background-color: white;
  border-radius: 5px;
  height: 45px;
  font-size: 11.5px;
  width: 105px;
  margin: 1px 0px 1px 0px;
}

.screenshot {
  top: 4%;
  width: 285px;
  position: relative;
  opacity: 0.85;
  margin-top: 5px;
}

.sepRightInput {
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.sepRightInstructions {
  margin: 10px 0px 10px 0px;
}

.fileConfirmationButton {
  height: 60px;
  width: 80%;
  max-width: 320px;
  border-radius: 10px;
  font-size: 15px;
  align-self: center;
  background-color: white;
  position: relative;
  top: 2.5%;
  background-color: chartreuse;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .right {
    width: 50%;
  }

  .uploadMenuHolder {
    margin-top: -12.5px;
    height: 100%;
    overflow: hidden;
    max-height: 100vh;
  }

  .superUploadOptionsHolder {
    background-color: var(--menu-yellow);
    width: 90%;
    height: 190px;
    min-height: 190px;
  }

  .uploadButton {
    min-width: 88px;
    width: 100%;
    font-size: 14px;
  }

  .littleUploadButton {
    width: 40%;
    font-size: 14px;
  }

  .uploadTextHolder {
    font-size: 120%;
    line-height: 27.5px;
  }

  .separatorText {
    padding-top: 5px;
  }

  .sep2 {
    width: 270px;
  }

  .screenshot {
    width: 260px;
  }

  .sepRight {
    font-size: 13px;
    top: -5px;
  }
}
